/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 jul. 2025, 23:23:06
    Author     : JJhoe
*/

.cantidad-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}
.cantidad-control button {
    height: 30px;
}

.cantidad-control button {
    padding: 4px 10px;
    font-size: 16px;
    background-color: #cce5ff;
    border: 1px solid #99caff;
    border-radius: 5px;
    color: #004085;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cantidad-control button:hover {
    background-color: #b3daff;
}

.cantidad-numero {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    padding: 2px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-width: 24px;
    height: 30px; /* Asegura altura igual a los botones */
    line-height: normal;
}

@media (max-width: 600px) {
    .cantidad-control {
        gap: 3px;
    }

    .cantidad-control button {
        padding: 2px 6px;
        font-size: 14px;
    }

    .cantidad-numero {
        font-size: 14px;
        padding: 1px 6px;
    }
}